<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id ="homeLinkNavBar"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("SetDatabase", "SetDatabase", "Home", routeValues: null, htmlAttributes: new {id = "setDatabaseNavBar"})</li>
                    <li>@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new {id = "aboutLinkNavBar"})</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "contactLinkNavBar" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        var myAreaID = "Area-" + ViewContext.RouteData.DataTokens["area"] + "-Done";
        var myControllerID = "Controller-" + ViewContext.Controller.ValueProvider.GetValue("controller").RawValue + "-Done";
        var myActionID = "View-" + ViewContext.RouteData.Values["action"] + "-Done";
    }

    <div id="Page-Done"></div>
    <div id="@myAreaID"></div>
    <div id="@myControllerID"></div>
    <div id="@myActionID"></div>
</body>
</html>
